# ===================================
# Python / Jupyter / OS
# ===================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
.idea
Thumbs.db

# ===================================
# Entornos virtuales
# ===================================
venv/
.venv/
env/
.conda/
fire_detection_env/
env.yaml

# ===================================
# Archivos de logs
# ===================================
*.log
logs/
report2/

# ===================================
# Datos
# ===================================
data/raw/
data/resized/
data/augmented/
data/processed/
data/external/
# ===================================
# Modelos entrenados
# ===================================
models/*.h5
models/*.ckpt
**/*.keras
**/*.h5

# ===================================
# LaTeX
# ===================================
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk

# *.pdf
