# ===================================
# Python / Jupyter / OS
# ===================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# ===================================
# Entornos virtuales
# ===================================
venv/
.venv/
env/
.conda/
env.yaml

# ===================================
# Archivos de logs
# ===================================
*.log
logs/

# ===================================
# Datos
# ===================================
data/raw/
data/processed/

# ===================================
# Modelos entrenados
# ===================================
models/*.h5
models/*.ckpt

# ===================================
# LaTeX
# ===================================
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk

# *.pdf
